*{
    margin:0;
    vertical-align: center;
    box-sizing: border-box;
}
body{
    background-color: #293241;
    color:white;
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
    margin:5vh 0 10vh;
}
h1{
    color:#E0FBFC;
    font-size: 3em;
}
.box{
    padding: 0;
    margin: 0;
    border: 0.5px solid ;
}
main{
    display: flex;
    justify-content: space-evenly;
}
.content{
    background-color:#3D5A80;
    border:2px solid #98C1D9;
    padding: 20px;
    display: block;
    width: 50vw;
}
.container{
    background-color: black;
    display: flex;
    flex-flow: row wrap;
    height: 100%;
}
.controls{
    width: 20vw;
    background-color: #3D5A80;
    padding: 30px;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    border:2px solid #98C1D9;
}
.controls input{
    margin:1.1em 10px;
    
    
}
input[type ="color"]{
    display: inline-block;
    height: 24px;
    border: none;
    margin: 1.1em 0;
}
input[type="radio"]{
}   
button{
    color: white;
    background-color: #293241;
    padding: 2px 8px;

}
footer{
    display:flex;
    justify-content: center;
    align-content: center;
    color:#98C1D9;
    margin:6vh 0 2vh;
}